{% extends 'blog/base.html' %}

{% block content %}

<div id='about-container'>
	

	<h1>About Me</h1>
	<p>My name is Bobby Gulshan. I am developer based in Washington, DC.</p>
	<p>I feel into technology a few years back and fell in love with it. I love being able to build useful, and sometimes elegant and beautoiful things with simple tools. I love seeing a problem and brekaing it down into it's constituent parts in search of a solution.</p>
	<p>As a freelancer, I have mostly worked in Wordpress and some in Drupal. This blog is built using Django, a framwork I plan on using more and more. I am working towards adding javascript framworks to my arsenal, specifically Angular.</p>
	<p>In addition, I am studying both Machine Learning and Cybersecurity in my spare time. I'm also a writer of both fiction and non-fiction, and try to make music when I can.</p>
	<p>Let's workj on something . . .</p>

</div>

{% endblock %}